@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 37, 29;
  --background-rgb: 247, 246, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
